/*
 * Create directory ~/.mozilla/firefox/<profile>/chrome/
 * Copy this file in ~/.mozilla/firefox/<profile>/chrome/
 * To find <profile> value : about:profiles
 * To activate userChrome.css :
 *      about:config
 *      toolkit.legacyUserProfileCustomizations.stylesheets -> true
 */

.bookmark-item > .toolbarbutton-text {
    margin-top : -1px !important;
    display: none !important;
}

.toolbarbutton-icon[label]:not([label=""]) {
    margin-inline-end: 0px !important;
}
